$black-50: #494949;
$black-80: #393939;
$black-95: #2a2a2a;
$black-100: #232323;

$white-100: #efefef;
$white-95: #eaeaea;
$white-90: #e8e8e8;
$white-80: #e2e2e2;
$white-60: #d4d9d4;

$emerald-80: #28d791;
$emerald-dark: #00473c;
